.flash-box
  グループを作成しました
.wrapper
  .chat-header
    .side-header
      .side-header__box
        %p.side-header__box__user-name KentaroNamerisawa
        %ul.side-header__box__menu
          %li.side-header__box__menu__new-group
            =link_to "http://yahoo.com" do
              =fa_icon 'edit'
          %li.side-header__box__menu__edit-user
            =link_to "/users/edit" do
              =fa_icon 'cog'
    .groups
      .group
        %p.group__group-name
          Hello USA!
        %p.group_latest-message
          LTNS
      
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          Hello USA!
        %p.main-header__left-box__member
          Member: KentaroNamerisawa
      .main-header__right-box
        =link_to "/" do
          .main-header__right-box__edit-btn
            Edit

    .messages
      .message
        %h2.message__user
          KentaroNamerisawa
          %span.message__user__time
            2019/10/28(Mon) 22:00:00
        %p.message__text
          LTNS
      
    .form
      .new_message
        .input-box
          %input#message_content.input-box__text{name: "message[content]", placeholder: "type a message", type: "text"}
          %label.input-box__image{for: "message_image"}
            %i.fa.fa-image
          %input#message_image.input-box__image__file{name: "message[image]", type: "file"}
        %input.submit-btn{name:"commit", type: "submit", value: "Send"}